<div class="container">

  <mat-card class="mat-elevation-z5">

    <mat-card-title>{{ 'ADD_POST.TITLE' | translate }}</mat-card-title>

    <!--  company field  -->
    <mat-card-content fxLayout="row wrap" fxLayoutGap="5px" [formGroup]="form">
      <mat-form-field fxFlex="50px">
        <input type="text"
               [placeholder]="'ADD_POST.PLACEHOLDER.COMPANY' | translate"
               matInput
               formControlName="company"
               [matAutocomplete]="companyAC">
        <mat-autocomplete #companyAC="matAutocomplete" [autoActiveFirstOption]="true">
          <mat-option *ngFor="let option of companyOptions" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.controls['company'].hasError('invalidOption')">{{ 'ADD_POST.ERROR.COMPANY' | translate }}</mat-error>
      </mat-form-field>

      <!--  section field  -->
      <mat-form-field fxFlex="50px">
        <input type="text"
               [placeholder]="'ADD_POST.PLACEHOLDER.SECTION' | translate"
               matInput
               formControlName="section"
               [matAutocomplete]="sectionAC">
        <mat-autocomplete #sectionAC="matAutocomplete" [autoActiveFirstOption]="true">
          <mat-option *ngFor="let options of sectionOptions" [value]="options">
            {{options}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.controls['section'].hasError('invalidOption')">{{ 'ADD_POST.ERROR.SECTION' | translate }}</mat-error>
      </mat-form-field>

      <!--  grade field  -->
      <mat-form-field fxFlex="50px">
        <input type="text"
               [placeholder]="'ADD_POST.PLACEHOLDER.GRADE' | translate"
               matInput
               formControlName="grade"
               [matAutocomplete]="gradeAC">
        <mat-autocomplete #gradeAC="matAutocomplete" [autoActiveFirstOption]="true">
          <mat-option *ngFor="let options of gradeOptions" [value]="options">
            {{options}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.controls['grade'].hasError('invalidOption')">{{ 'ADD_POST.ERROR.GRADE' | translate }}</mat-error>
      </mat-form-field>

      <!--  name field  -->
      <mat-form-field fxFlex>
        <input matInput formControlName="name" [placeholder]="'ADD_POST.PLACEHOLDER.NAME' | translate">
        <mat-error *ngIf="form.controls['name'].hasError('required')">{{ 'ADD_POST.ERROR.NAME' | translate }}</mat-error>
      </mat-form-field>

      <!--  letters field  -->
      <mat-form-field fxFlex="100px">
        <input matInput formControlName="letters" [placeholder]="'ADD_POST.PLACEHOLDER.LETTER' | translate">
      </mat-form-field>

      <!--  packages field  -->
      <mat-form-field fxFlex="100px">
        <input matInput formControlName="packages" [placeholder]="'ADD_POST.PLACEHOLDER.PACKAGE' | translate">
      </mat-form-field>

      <div fxFlex="120px" class="button">
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="addItem()">{{ 'ADD_POST.SAVE' | translate }}</button>
      </div>
    </mat-card-content>
    <mat-error *ngIf="!isPostAssociated">{{ 'ADD_POST.ERROR.POST_EMPTY' | translate }}</mat-error>

  </mat-card>

</div>
