<div class="main-div">

  <mat-card class="login-card">

    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput [placeholder]="'LOGIN.PASSWORD' | translate" formControlName="password">
        <mat-error *ngIf="form.controls['password'].hasError('login-error')">{{ 'LOGIN.FAILED' | translate }}</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="login()">Login</button>
      <button mat-button (click)="recoverPassword()">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</button>
    </mat-card-actions>

  </mat-card>

</div>
