.body {
  overflow: hidden;
}

.container {
  width: 70%;
  margin: 30px auto 30px auto;
}

.wrapper {
  overflow: auto;
  margin: auto;
  height: calc(100vh - 104px);
}

.drawer {
  width: 60%;
}

.flag-icon {
  padding-top: 16px;
}

.flag-label {
  padding-left: 16px;
}

.footer {
  bottom: 0;
  height: 40px;
}

@media only screen and (max-width: 959px) {
  .container {
    width: 100%;
    margin: auto auto 0;
  }
}

@media only screen and (max-width: 599px) {
  .wrapper {
    width: 100%;
    height: calc(100vh - 94px);
  }
}
