<mat-drawer-container class="body" [hasBackdrop]="true">
  <mat-drawer #drawer mode="over" position="end" class="drawer">
    <button mat-menu-item routerLink="" (click)="drawer.close()"><span>{{ 'HEADER.POST_LIST' | translate }}</span></button>
    <button mat-menu-item routerLink="statistics" (click)="drawer.close()">{{ "HEADER.STATISTICS" | translate }}</button>
  </mat-drawer>
  <mat-drawer-content>
    <div class="body">

      <!--   HEADER   -->
      <mat-toolbar color="primary">
        <div>Milpost</div>

        <button fxHide.lt-sm mat-button routerLink="">{{ 'HEADER.POST_LIST' | translate }}</button>
        <button fxHide.lt-sm mat-button routerLink="statistics">{{ "HEADER.STATISTICS" | translate }}</button>

        <button mat-button
                [matMenuTriggerFor]="languageMenu"
                style="margin-left: auto">{{ 'LANGUAGE' | translate }}</button>
        <mat-menu #languageMenu="matMenu">
          <button *ngIf="getLanguage() != 'de'" mat-menu-item fxLayout="row" (click)="changeLanguage('de')">
            <div fxFlex="16px"><!--suppress HtmlUnknownTarget -->
              <img src="assets/flags/ch.png" class="flag-icon"></div>
            <div fxFlex class="flag-label">{{'LANGUAGES.GERMAN' | translate}}</div>
          </button>
          <button *ngIf="getLanguage() != 'fr'" mat-menu-item (click)="changeLanguage('fr')">
            <div fxFlex="16px"><!--suppress HtmlUnknownTarget -->
              <img src="assets/flags/fr.png" class="flag-icon"></div>
            <div fxFlex class="flag-label">{{'LANGUAGES.FRENCH' | translate}}</div>
          </button>
        </mat-menu>

        <button *ngIf="authService.isAuthorized()" mat-button (click)="logout()">Log out</button>

        <button fxHide fxShow.lt-sm mat-icon-button (click)="drawer.open()">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>

      <!--   CONTENT   -->
      <div class="wrapper">
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </div>


      <!-- FOOTER -->
      <mat-toolbar class="footer">
        <p style="font-size: 12px;">Powered by Schmidlin</p>
      </mat-toolbar>

    </div>
  </mat-drawer-content>
</mat-drawer-container>
