.container {
  table {
    width: 100%;
  }

  .header {
    padding: 20px 20px 0 20px;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .post-title {
    font-size: 24px;
    font-weight: 500;
  }
}


@media only screen and (max-width: 959px) {
  .container {
    margin-top: 0;
  }
}
