<div class="mat-elevation-z8 container">

  <div class="header">
    <p class="post-title">{{ 'POST_LIST.POST_LIST' | translate }}</p>
    <mat-form-field>
      <mat-label>{{ 'POST_LIST.SEARCH' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" [placeholder]="'POST_LIST.YOUR_NAME' | translate">
    </mat-form-field>

    <button *ngIf="authService.isAuthorized$() | async" mat-raised-button color="warn" [disabled]="!selection.hasValue()">{{ 'POST_LIST.DELETE_BUTTON' | translate }}</button>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 100px;">{{ 'POST_LIST.DATE' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'dd.MM.yyyy'}} </td>
    </ng-container>

    <!-- Grad Column -->
    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'POST_LIST.GRADE' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'POST_LIST.NAME' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Letter Column -->
    <ng-container matColumnDef="letter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'POST_LIST.LETTER' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.itemType == itemType.Letter">mail</mat-icon>
      </td>
    </ng-container>

    <!-- Packet Column -->
    <ng-container matColumnDef="package">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'POST_LIST.PACKAGE' | translate }}</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon *ngIf="element.itemType == itemType.Package" svgIcon="package"></mat-icon>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 48px;"></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="deleteItem(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 50, 100]" (page)="dataSource.page($event)" showFirstLastButtons></mat-paginator>
</div>
