
<mat-card class="card-chart">
  <mat-card-title>Post pro Tag</mat-card-title>
  <mat-card-content #card1>
    <div>
      <ngx-charts-line-chart [results]="data"
                             [view]="[card1.clientWidth, 470]"
                             [xAxis]="true"
                             [yAxis]="true"
                             [autoScale]="true"
                             xAxisLabel="Datum"
                             yAxisLabel="Anzahl Briefe & Packete"
                             [showXAxisLabel]="true"
                             [showYAxisLabel]="true"
                             [trimYAxisTicks]="true"></ngx-charts-line-chart>
    </div>
  </mat-card-content>
</mat-card>

<mat-card style="height: 500px">
  <mat-card-title></mat-card-title>
  <mat-card-content #card2>
    <div>
      <ngx-charts-line-chart [results]="data"
                             [view]="[card2.clientWidth - 30, 470]"
                             [xAxis]="true"
                             [yAxis]="true"
                             [autoScale]="true"
                             [trimYAxisTicks]="true"></ngx-charts-line-chart>
    </div>
  </mat-card-content>
</mat-card>
